<div class="container" style="padding-top: 30px; padding-bottom: 30px; max-width: 100% !important;" >
  <div class="row d-flex justify-content-center">
    <div class="slide" [routerLink]="'/products/classic'">
      <div class="image">
        <img src="../../../assets/img/classic.jpg">
      </div>
      <div class="desc d-flex">Classic</div>
    </div>

    <div class="slide justify-content-end" [routerLink]="'/products/modern'">
      <div class="desc d-flex">Modern</div>
      <img src="../../../assets/img/modern.jpg">
    </div>

    <div class="slide" [routerLink]="'/products/country'">
      <img src="../../../assets/img/country2.jpg">
      <div class="desc d-flex">Country</div>
    </div>

    <div class="slide justify-content-end" [routerLink]="'/products/doors'">
      <div class="desc d-flex">Doors</div>
      <img src="../../../assets/img/doors.jpg">
    </div>

    <div class="slide justify-content-end" [routerLink]="'/products/heating-systems'">
      <div class="desc d-flex">Heating Systems</div>
      <img src="../../../assets/img/heating-systems.jpg">
    </div>

    <div class="slide justify-content-end" [routerLink]="'/products/accessories'">
      <div class="desc d-flex">Accessories</div>
      <img src="../../../assets/img/accessories.jpg">
    </div>
  </div>
      
</div>
