<div class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-7">
      <h5 class="lead font-weight-bold">{{ "NAV.ABOUT"  | translate }}:</h5>
      <p>{{ "ABOUT"  | translate }}</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid rounded" src="../../../assets/img/about/company.jpg" alt="">
    </div>
  </div>
  <div class="promise">
    <div class="row">
      <div class="col">
        <h5 class="d-block lead font-weight-bold">{{ "WE"  | translate }}:</h5>
      </div>

    </div>
    <div class="row">
      <p>
        <fa-icon ></fa-icon> <!-- [icon]="check" -->
        {{ "1"  | translate }}
      </p>
    </div>
    <div class="row">
      <p>
        <fa-icon></fa-icon> <!-- [icon]="check" -->
        {{ "2"  | translate }}
      </p>
    </div>
  </div>
  <div class="promise">
    <div class="row">
      <div class="col">
        <h5 class="d-block lead font-weight-bold">{{ "GUARANTEE"  | translate }}:</h5>
      </div>

    </div>
    <div class="row">
      <p>
        <fa-icon [icon]="check"></fa-icon>
        {{ "3"  | translate }}
      </p>
    </div>
    <div class="row">
      <p>
        <!-- [icon]="check" -->
        <fa-icon [icon]="check"></fa-icon>
        {{ "4"  | translate }}
      </p>
    </div>
    <div class="row">
      <p>
        <!-- [icon]="check" -->
        <fa-icon [icon]="check"></fa-icon>
        {{ "5"  | translate }}
      </p>
    </div>
  </div>
</div>
