<div>
  <a href="https://www.instagram.com/prometei.od/" target="_blank">
    <img class="social-icon inst" src="../../../../assets/img/insta.svg">
  </a>
  <a href="https://t.me/prometei_od">
    <img class="social-icon" src="../../../assets/img/telegram.svg">
  </a>
  <a href="viber://add?number=380503161570">
    <img class="social-icon" src="../../../assets/img/viber.svg">
  </a>
  <a *ngIf="isContacts" href="tel:+380503161570">
    <img class="social-icon" src="../../../assets/img/phone.png">
  </a>
  <a *ngIf="isContacts" class="phone" href="tel:+380503161570">+38 050 316 15 70</a>
</div>
